/*-----------------------------------*\
  #navbar styling 
\*-----------------------------------*/

.navbar-link {
    color: var(--st-patricks-blue);/* Set the color to black */
  }
  
  .logo {
    color: var(--st-patricks-blue); /* Set the color to black */
    float: left; /* Align the title to the left */
    margin-right: 20px; /* Adjust the spacing between the title and the navigation */
  }
  
  /* Optionally, you can change the color of the links on hover */
  .navbar-link:hover {
    color: black; /* Darken the color on hover */
  }
 
/*-----------------------------------*\
  #PRODUCT
\*-----------------------------------*/

.service-list {
    display: grid;
    gap: 30px;
    
  }
  
  
  .service-card {
    padding: 60px;
    height: 800px; 
    box-shadow: var(--shadow);
    border-radius: var(--radius-12);
    text-align: center; 
    grid-template-columns: 1fr 1fr;
  }
  
  
  .service-card li {
    margin-bottom: 10px; /* Adjust the spacing as needed */
  }
  .service-card li:hover {
    color: var(--winter-sky_50); /* Adjust the color as needed */
  }
  .service-card .card-icon {
    background-image: url("../images/service-banner-pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--sea-green);
    max-width: 165px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
    transition: var(--transition-1);
  }
  
  .service-card:hover .card-icon { background-color: var(--light-seagreen); }
  
  .service-card .card-icon ion-icon {
    font-size: 5rem;
    color: var(--light-seagreen);
    --ionicon-stroke-width: 20px;
    transition: var(--transition-1);
  }
  
  .service-card:hover .card-icon ion-icon { color: var(--white); }
  
  .service-card .title {
    margin-block-end: 15px;
  }
  
  .service-card .text {
    text-align: center;
    margin-block-end: 20px;
  }
  
  .service-card .card-btn {
    margin-inline: auto;
    padding: 15px;
    border: 1px solid var(--winter-sky);
    border-radius: 50%;
    color: var(--winter-sky);
    transition: var(--transition-1);
  }
  
  .service-card .card-btn:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--winter-sky);
  }
  
  