/*-----------------------------------*\
  #navbar styling 
\*-----------------------------------*/


.navbar-link {
    color: var(--st-patricks-blue);/* Set the color to black */
  }
  
  .logo {
    color: var(--st-patricks-blue); /* Set the color to black */
    float: left; /* Align the title to the left */
    margin-right: 20px; /* Adjust the spacing between the title and the navigation */
  }
  
  /* Optionally, you can change the color of the links on hover */
  .navbar-link:hover {
    color: black; /* Darken the color on hover */
  }
 
/*-----------------------------------*\
  #box styling 
\*-----------------------------------*/

  .box-container {
    width: 90%; /* Set the width of the box container to 70% of the page */
    margin: 50px auto 60px; /* Center the box container horizontally and add space below the header */
    padding: 20px; /* Padding of 20px on all sides */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Shadow around the box */
    border-radius: 20px;
  }
  
  .box {
    width: 100%;
    height: 45vh; /* Set the height of the box to 10% of the viewport height */
    background-color: #fff; /* Background color of the box */
    display: flex; /* Use flexbox layout */
  }
  
  .term-img {
    width: auto;
    height: 100%; /* Ensure the image fills the height of the box */
    max-width: 30%; /* Set the maximum width of the image to 30% of the box width */
    object-fit: cover; /* Ensure the image covers the entire box */
  }

  .box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 140px;
  }
  
  .box-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    width: 100%;
  }
  
  .box-text {
    color: var(--st-patricks-blue);
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .box-text i {
    margin-right: 10px; /* Add space between icon and text */
  }
  
  .box-text:nth-child(2) {
    margin-left: auto; /* Push "Chat on WhatsApp" to the right */
  }
  
  .box-text-container > :nth-child(2) {
    margin-left: 80px; /* Adjust the space between the texts */
  }
  .term-heading {
    font-size: 20px;
    padding-left: 60px;
    margin-top: 80px; /* Adjust this value to create space between Premium Bima title and Term Insurance heading */
  }

  .phone-number {
    font-size: 15px;
    margin-left: 5px;
    color: var(--ocean-blue);
  }

  .plans{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    padding-left: 70px;
    font-family: var(--ff-source-sans-pro);
  }
  
  .get-quotes-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 70px; 
    font-size: 20px; 
    background-color: var(--ocean-blue); 
    color: white; 
    border: none;
    border-radius: 30px; 
    text-decoration: none;
    margin-top: 20px;
    margin-left: 140px; 
    padding: 10px 20px; 
  }
  
  .get-quotes-btn:hover {
    background-color: var(--dark-oceanblue); 
  }
  
  .get-quotes-btn .btn-text {
    margin-left: 40px; 
  }

  .content {
    width: 80%; /* Set the width to 75% of the page */
    margin: 0 auto; /* Center the content horizontally */
    padding-left: 0px; /* Add left padding */
  }
 p{
    margin-bottom: 15px;
 }
  